*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}

#root{
  background-color: hsla(207, 24%, 84%, 0.77);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 100px;
}